cfg_path: "/homes/15hagge/deepActiveLearning/PyTorch-YOLOv3/config/robocup.cfg"
data_path: "/homes/15hagge/deepActiveLearning/PyTorch-YOLOv3/data/robocup.data" # remember to change content of this file too
epochs: 201
pretrained_weights_path: "/homes/15hagge/deepActiveLearning/PyTorch-YOLOv3/weights/yolov4-tiny.conv.29"
input_dir: "/srv/ssd_nvm/15hagge/torso-fuer-pytorchyolo/custom/images/train"
last_weights: "/homes/15hagge/deepActiveLearning/DeepActiveLearning/checkpoints/yolov3_ckpt_199.pth"
traintxt: "/homes/15hagge/deepActiveLearning/PyTorch-YOLOv3/data/train.txt"
outputdir: "/homes/15hagge/deepActiveLearning/PyTorch-YOLOv3/data/" # this should be the path mentioned in file in data_path above